<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <title>Flask Nutrition App</title>
</head>
<body>
    <h1>Nutrition App</h1>

    <label for="age_gender">Select Age/Gender:</label>
    <select id="age_gender" name="age_gender" onchange="updateRecs()">
        {% for age_gender in age_genders %}
            <option value="{{ age_gender }}" {% if age_gender == selected_age_gender %}selected{% endif %}>{{ age_gender }}</option>
        {% endfor %}
    </select>

    <label for="food">Select Food:</label>
    <input type="text" id="food" list="foods" name="food" autocomplete="off">
    <datalist id="foods">
        {% for food in foods %}
            <option value="{{ food }}">{{ food }}</option>
        {% endfor %}
    </datalist>

    <label for="servings">Servings:</label>
    <input type="number" id="servings" name="servings" value="{{ servings }}">

    <button onclick="updateFood(), clearForm()">Add Food</button>

    <div id="progress">
        <!-- Progress visualizations will be displayed here -->
    </div>

    <script>
        // Set up global variables
        var intakes_data = {{ intakes_data|safe }};
        var nutrition_data = {{ nutrition_data|default('null')|safe }};
        var intake_recs = []
        var nutr_totals = []
        var remaining = []
        var foods = 0

        function updateRecs() {
            var selectedGender = $('#age_gender').val();
            var intakeColumn = intakes_data[selectedGender];
            intake_recs = Object.entries(intakeColumn);
            remaining = Object.entries(intakeColumn);
        }

        function clearForm() {
            $('#food').val('');
        }

        function updateFood() {
            foods++;
            var selected_food = $('#food').val();
            var nutrientColumn = nutrition_data[selected_food];
            if (nutr_totals.length === 0) {
                console.log("1");
                nutr_totals = Object.entries(nutrientColumn);
            } else {
                var temp_nutr = Object.entries(nutrientColumn);
                for (let i = 0; i < nutr_totals.length; i++) {
                    nutr_totals[i][1] += temp_nutr[i][1];
                }
            }
            for (let i = 0; i < nutr_totals.length; i++) {
                    nutr_totals[i][1] = nutr_totals[i][1] * $('#servings').val();
            }
            $.post('/update_food', { selected_food: selected_food }, function (data) {
                console.log(data.status);
            });
            updateRemaining();
        }

        function updateServings() {
            var servings = $('#servings').val();

            $.post('/update_servings', { servings: servings }, function (data) {
                console.log(data.status);
            });
        }

        function updateRemaining() {
            for (let i = 0; i < intake_recs.length; i++) {
                    remaining[i][1] = intake_recs[i][1] - nutr_totals[i][1];
                }
            // console.log(nutr_totals);
            // console.log(remaining);
            // console.log(intake_recs);
            updateVisualizations();
        }

        function updateVisualizations() {
        }
    </script>
</body>
</html>
